@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
body {
    font-family: "Lucida Console", Monaco, monospace;
    background: #2980b9;
}

h1 {
    color: #fff;
    text-align: center;
}
.social {
 	font-size: 24px;
	background-color: transparent;
	text-align: center;
	padding: 5px;
}
.social a {
	color: #fff;
	padding: 8px;
}